.
./data/
data/
.env
./__pycache__/
/mnt/c/Users/tienl/Udacity_Courses/DE_capstone/notebook_redshift.ipynb
/mnt/c/Users/tienl/Udacity_Courses/DE_capstone/notebook.ipynb
/mnt/c/Users/tienl/Udacity_Courses/DE_capstone/.env_db/mnt/c/Users/tienl/Udacity_Courses/DE_capstone/notebook_psql_redshift.ipynb
/mnt/c/Users/tienl/Udacity_Courses/DE_capstone/.env_db
database/test.txt